* Library/
* Temp/
* Obj/
* Build/
* Builds/
* Logs/
* MemoryCaptures/
* UserSettings/
* Assets/AddressableAssetsData/Cache/
* ServerData/
* .vs/
* .gradle/
* ExportedObj/
* .user
* .userprefs
* .unityproj
* .suo
* .sln
* .csproj
* .pidb
* .booproj
* .svd
* .pdb
* .mdb
* .opendb
* .VC.db
* /Library/
* /Temp/
* /Obj/
* /Build/
* /Builds/
* /Logs/
* /UserSettings/
* [Oo]bj/
* [Bb]uild/
* [Bb]uilds/
* [Ll]ogs/
* [Mm]emoryCaptures/
* [Uu]ser[Ss]ettings/
* /Assets/AssetStoreTools*
* crashlytics-build.properties
* sysinfo.txt
* *.apk
* *.aab
* *.unitypackage
* *.app
*.log
*.bin
*.index
*.dll
*.pdb
*.json
*.csproj
/Library
/UserSettings
/obj/Debug
/UserSettings/Layouts
/UserSettings
/UserSettings
*.asset
*.asset
